@import url("https://fonts.googleapis.com/css?family=Asap|Old+Standard+TT");

* {
  cursor: url(./cursors/cake.cur), progress !important;
}

#confetti-holder {
  width: 100%;
  height: 100vh;
  position: fixed;
}

#happy-bday {
  width: 100%;
  height: 100vh;
  color: white;
  font-family: 'Asap', sans-serif;
  text-align: center;
  background-color: #00000080;
  position: fixed;
}

@media only screen and (max-width: 800px) {
  #happy-bday>h1 {
    margin-top: 45vh;
  }
}
